<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form action="/process" method="POST">
            <label for="city">Enter City Name:</label>
            <input type="text" name="city" required> <br>
            <textarea name="preferences" id="" cols="30" rows="10" placeholder="Enter your Preferences" required></textarea> <br>
            <label for="num_days">Enter number of days:</label><input type="number" name="num_days" required /> <br>
            <button type="submit" name="submit_city">Search</button>
        </form>
    </div>
</body>
</html>